/* Custom MDC Card */

/* .demo-card { 
  width: 350px;
} */

.demo-card__media {
  background-image: url("./../images/header-bg.jpg");
}

.demo-card__primary{
  padding: 1rem;
}

.demo-card__title {
  margin: 0;
}

.demo-card__subtitle{
  margin: 0;
}

.demo-card__secondary{
  padding: 0 1rem 8px 1rem;
}

/* Remove link underline of all "a" tag in page */
a{
  text-decoration: none;
}

/* Add custom label for input */
input[type="submit"] {
  display: none;
}

#customInput {
  /* border: 1px solid #ccc; */
  display: inline-flex;
  /* padding: 6px 12px; */
  cursor: pointer;
}