// Theme
$mdc-theme-primary: #108ac8;
$mdc-theme-primary-light: #4ab8f0;
$mdc-theme-primary-dark: #094b6d;
$mdc-theme-secundary: #407ec9;
$mdc-theme-secundary-light: #7da7da;
$mdc-theme-secundary-dark: #254f82;
$mdc-theme-background: #f8fafd;
@import "@material/theme/mdc-theme";
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700');
// Another imports
$mdc-typography-font-family:  'Josefin Sans', sans-serif;
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/tabs/mdc-tabs";

// Variables
$ripple-color: rgba(255, 255, 255, 0.54);

// To quit agent
body {
  margin: 0px;
}

.foo-body {
	@include mdc-typography-base
}

.page-content{
  padding: 20px 28px;
}

.foo-button {
  @include mdc-button-ink-color($mdc-theme-secundary);
  @include mdc-states($mdc-theme-secundary-light);
}

.done-true {
    text-decoration: line-through;
    color: grey;
}

/*Material icons*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

// MDC Tabs custom color
.basic-tab-bar .mdc-tab:not(.mdc-tab--active){ 
  color: $ripple-color;
}

.basic-tab-bar .mdc-tab.mdc-tab--active{
  color: $mdc-theme-background
}

.basic-tab-bar .mdc-tab-bar__indicator{
  background-color: $mdc-theme-background
}

.basic-tab-bar .mdc-tab:hover{
  color: $mdc-theme-background  
}

.basic-tab-bar .mdc-tab::before, .mdc-tab::after {
  background-color: $ripple-color;
}

// Dynamic toolbar
.panels {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 8px;
}

.panel {
  display: none;
}

.panel.active {
  display: block;
}

.dots {
  display: flex;
  justify-content: flex-start;
  margin-top: 4px;
  padding-bottom: 16px;
}

.dot {
  margin: 0 4px;
  border-radius: 50%;
  border: 1px solid $mdc-theme-primary-dark;
  width: 20px;
  height: 20px;
}

.dot:last-child {
  margin-right: 0;
}

.dot.active {
  background-color: $mdc-theme-primary-dark;
  border-color: $mdc-theme-primary-dark;
}

// Nav tab
.my-nav-tab {
  height: 48px;
  background-color: $mdc-theme-primary-dark;
}