<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Basicamente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" media="screen" href="css/vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />

    <!-- Scripts -->
    <script src="js/vendor/angularjs/angular.min.js"></script>
    <script src="js/main.js"></script>
</head>

<body ng-app="testApp">

    <div class="container">
        <div class="jumbotron">
            <h2>Equipos campeones del mundo</h2>
        </div>

        <div ng-controller="miControlador as listaCualquiera">
            <div ng-repeat="(continente, arreglo) in listaCualquiera.CopaFIFA">
                <h3>{{continente}}</h3>
                <p ng-repeat="(campeon,value) in arreglo">
                    La selección de
                    <strong>{{value.equipo}}</strong> tiene
                    <strong>{{value.copasDelMundo}}</strong> copas del mundo
                </p>
            </div>
        </div>
    </div>

    <script src="js/DOM.js"></script>
</body>

</html>