/**
Taken from: http://1linelayouts.glitch.me/
**/

.ex5 {
    .parent {
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    header,
    footer {
        padding: 1em 2em;
    }

    main {
        max-width: 50em;
        margin: 0 auto;
    }
}
